
HTML {
    height: 93%;
    padding: 0px;
    margin: 5px;
}

BODY {
  background-color: #b4f3fa;
  text-align: center;  
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#pagetitle {
  color: solid black;
}

a.menulink, a.menulink:link, a.menulink:visited {
  border:4px solid #3366CC;
  border-radius: 15px;
  padding:8px;
  margin:20px;
  color:#CCFFFF;
  background-color:#3366CC;
  text-decoration:none;
  font-weight: bold;
  font-family:courier;
}

a.menulink:hover, a.menulink:active {
  color:#3366CC;
  background-color:#CCFFFF;
  text-decoration:underline;
}

a.contactlink, a.contactlink:link, a.contactlink:visited, a.contactlink:active {
  border:4px solid #3366CC;
  padding:4px;
  margin:10px;
  color:#CCFFFF;
  background-color:#3366CC;
  text-decoration:none;
  font-weight: bold;
  font-size: 10px;
  font-family:courier;
}

a.contactlink:hover {
  color:#3366CC;
  background-color:#CCFFFF;
  text-decoration:underline;
}

#centralizer {
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  border: 2px solid gray;
  margin: 0 auto;
  padding-bottom: 20px;
}

.menuline {
  border: solid #3366CC 1px;
}

#titlebar {
}

#titlebar .menuline {
    margin-top: 25px;
    margin-bottom: 20px;
}

.contactlink {
}

.menulink {
}

#footer {
}

#content {
    margin: 2px;
    padding: 0px;
}

#addTable {
    display: none;
}
