
/********************* GLOBAL DEFINITIONS *****************************/

BODY {
  font-family: Helvetica, Arial;
  padding: 0px;
  margin: 0px;
  /* COL-BG */ background-color:  #FFFEF2;
  /* COL-TXT */ color: #170741;
}

A {
  font-weight: bold;
  /* COL-DOM */ color: #1933B8;
  text-decoration: none;
}

A:HOVER {
  /* COL-WRN */ color: #E00606;
}

H2 {
  padding: 0px;
  margin-left: -40px;
  margin-top: 30px;
  margin-bottom: 2px;
}

H3 {
  padding: 0px;
  margin-left: -20px;
  margin-top: 30px;
  margin-bottom: 2px;
}

/********************* FORM ELEMENTS **********************************/

BUTTON, INPUT, TEXTAREA, SELECT {
  border: solid 1px;
  /* COL-TXT */ border-color: #170741;
  font-family: Courier;
  font-size: larger;
  /* COL-TXT */ color: #170741;
  /* COL-FBG */ background-color: #E3DAD5;
}

INPUT, TEXTAREA, SELECT {
  width: 300px;
}

TEXTAREA {
  height: 100px;
}

SELECT {
  /* COL-FBG */ background-color: #E3DAD5;
}

BUTTON {
  /* COL-FBG */ background-color: #E3DAD5;
  /* COL-DOM */ color: #1933B8;
}

/********************* PAGE SETUP *************************************/

#header {
  text-align: center;
}

#footer {
  text-align: center;
}

#pagetitle {
  /* COL-TXT */ color: #170741;
  font-family: Courier;
}

#introductiontitle {
  /* COL-TXT */ color: #170741;
  font-family: Courier;
  text-align: center;
}

#startpagebody {
  /* COL-TXT */ color: #170741;
  font-family: Courier;
  width: 100%;
}

.startpage-coloumn{
  vertical-align: top;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.startpage-coloumn {
  width: 50%;

}

a.menulink, a.menulink:link, a.menulink:visited {
  border:4px solid;
  /* COL-DOM */ border-color: #1933B8;

  padding-left:8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 0px;

  /* COL-SUB */ color: #6D9EE0;
  /* COL-DOM */ background-color: #1933B8;

  /* text-decoration:none; (Inherited) */
  /* font-weight: bold; (Inherited) */
  font-family:courier;
}

a.menulink.selected, a.menulink:hover, a.menulink:active {
  /* COL-DOM */ color: #1933B8;
  /* COL-SUB */ background-color: #6D9EE0;
  text-decoration:underline;
}

.menuline {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid 2px;
  /* COL-DOM */ border-color: #1933B8;
}

#content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

/********************* GENERIC PAGE ELEMENTS **************************/

.unit {
  display: inline;
  font-weight: bold;
  /* COL-DOM */ color: #1933B8;
  font-size: smaller;
}

.number {
  text-align: right !important;
}

.calculation-result {
  border-bottom: double 3px;
  /* COL-TXT */ border-color: #170741;
}

.alert {
  /* COL-WRN */ color: #E00606;
  font-weight: bold;
  white-space: nowrap;
}

.amount {
  display: inline;
  /* COL-DOM */ color: #1933B8;
  font-size: smaller;
  white-space: nowrap;
}

/********************* LISTS AND TABLES *******************************/

.form-table {
  margin-left: 10px;
}

.form-table TD {
  padding-bottom: 5px;
  vertical-align: top;
}

.table-key, .form-table-key {
  font-weight: bold;
  text-align: left;
  padding-right: 10px;
}

.table-value, .form-table-value {
  text-align: left;
  padding-right: 10px;
}

.form-table-action {
  text-align: right;
}

.list-even {
  /* COL-SUB */ background-color: #6D9EE0;
}

.list-odd {
}

/* EOF */
