
select, textarea, input {
    border: gray solid 1px;
}

.textinput {
    width: 50px;
    text-align: right;
}

.selectinput {
    width: 200px;
}

.acceptbutton {
}

td {
    vertical-align: top;
}

.tablerow td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid gray 1px;
}

.tablehead td, .confighead td {
    border-bottom: solid black 1px;
    padding-bottom: 5px;
    font-weight: bold;
}

.loadtable td {
    padding-right: 20px;
}

.customload {
    margin-top: 20px;
    margin-left: 20px;
}

.customload td {
    padding-top: 1px;
    padding-bottom: 0px;
    padding-right: 5px;
    border: none;
}

.customload .tbl_key {
    text-align: right;
}

.configtable, .configtable td {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}

.confighead td {
    text-align: center;
}

.configrow td {
    border: solid black 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.configselected td {
    background-color: lightgray;
}

.statsrow td {
    padding-bottom: 0px;
    border: dashed black 1px;
    border-top: none;
}

.projecttable td {
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.projecttable .tbl_key {
    font-weight: bold;
    text-align: right;
}

.configspace {
    height: 20px;
    border: none;
}

.tbl_detail {
    width: 100%;
}

.tbl_detail td {
    padding: 2px;
    border: none;
    font-size: smaller;
}

.tbl_detail .tbl_value {
    font-weight: bold;
}

.tbl_detail_long {
    width: 100%;
}

.tbl_detail_long td {
    padding: 5px;
    border: none;
    font-size: small;
}

.buttonrow td {
    padding: 15px;
    text-align: right;
    border-bottom: none;
}

.alert {
    color: red;
    font-weight: bold;
    display: inline;
}

.unit {
    display: inline;
    font-weight: bold;
    color: gray;
    font-size: smaller;
}

.amount {
    display: inline;
    color: gray;
    font-size: smaller;
}

.calcresult td {
    border-bottom: double medium;
}
